In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 


#from sklearn.model_selection import train_test_split
#from sklearn.naive_bayes import
#from sklearn.metrics import

In [13]:
data = pd.read_csv("data/naive-bayes-categorico.csv")
data

   Tipo de Plato Satisfacción del Cliente
0         Bebida                     Baja
1          Snack                     Alta
2         Postre                    Media
3          Snack                     Alta
4          Snack                     Baja
..           ...                      ...
95        Postre                     Alta
96         Snack                     Alta
97     Principal                     Alta
98     Principal                     Alta
99      Entrante                     Baja

[100 rows x 2 columns]

In [25]:
snack_media = data[(data['Tipo de Plato'] == 'Snack') & (data['Satisfacción del Cliente'] == 'Baja')]
len(snack_media)

6

In [33]:
sat = data[(data['Tipo de Plato'] == 'Principal')]
len(sat)

21

### Ejercicio 2.

Creamos un dataset sintético con datos nuevos

In [36]:
np.random.seed(42)
dataset = pd.DataFrame({
'Interacciones en Electrónica': np.random.poisson(5, 500),
'Interacciones en Ropa': np.random.poisson(3, 500),
'Interacciones en Alimentos': np.random.poisson(4, 500),
'Interacciones en Juguetes': np.random.poisson(2, 500),
'Interacciones en Libros': np.random.poisson(1, 500),
'Categoría de compra': np.random.choice(['Electrónica', 'Ropa', 'Alimentos',
'Juguetes', 'Libros'], 500)
})

In [38]:
dataset

,Interacciones en Electrónica,Interacciones en Ropa,Interacciones en Alimentos,Interacciones en Juguetes,Interacciones en Libros,Categoría de compra
0,5,4,2,0,1,Libros
1,4,2,0,1,0,Electrónica
2,4,2,2,0,0,Electrónica
3,5,4,6,3,1,Electrónica
4,5,4,5,2,1,Juguetes
...,...,...,...,...,...,...
495,11,4,4,4,2,Libros
496,8,3,2,1,2,Electrónica
497,6,2,4,3,0,Ropa
498,2,5,2,2,1,Ropa
499,8,4,3,1,0,Juguetes

In [51]:
(f'El número total de registros es {dataset.shape[0]}')

'El número total de registros es 500'